  <header>
    <div class="relative bg-gray-50">

      <!-- Desktop Menu -->
      <div class="mx-auto flex max-w-7xl items-center justify-between px-4 py-6 sm:px-6 md:justify-start md:space-x-10 lg:px-8">
        <div class="flex justify-start lg:w-0 lg:flex-1">
          <%= render(LogoLinkComponent.new(root_path)) %>
        </div>
        <div class="-my-2 -mr-2 md:hidden">
          <button data-action="click->slideover#toggle click@window->slideover#hide" type="button" class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-expanded="false">
            <span class="sr-only">Open menu</span>
            <!-- Heroicon name: outline/bars-3 -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </button>
        </div>
        <nav class="hidden space-x-10 md:flex">
          <%= render(MenuLinkComponent.new(title: "Home", path: dashboards_path)) %>    
          <%= render(MenuLinkComponent.new(title: "Competitions", path: competitions_path)) if current_user.admin? %>                     
          <%= render(MenuLinkComponent.new(title: "News", path: "#")) %>              
          <%= render(MenuLinkComponent.new(title: "About", path: abouts_index_url)) %>    

          <% if current_user.admin? %>
            <div id="admin_menu" data-controller="dropdown">
              <div data-action="click->dropdown#toggle click@window->dropdown#hide" class="" role="button" data-dropdown-target="button" tabindex="0" >
                <span class="appearance-none flex items-center  text-base font-medium text-gray-500 hover:text-gray-900">Admin
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" /></svg>
              </span>
              </div>
              <div data-dropdown-target="menu" class="hidden absolute mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-100 focus:outline-none z-50">
                <div class="p-2" role="none">
                  <%= render(MenuLinkComponent.new(title: "Teams", path: teams_path)) %>   
                </div>
              </div>
            </div>
          <% end %>        
        </nav>
        <div class="hidden items-center justify-end md:flex md:flex-1 lg:w-0">
          <%= render(MenuLinkComponent.new(title: "Log Out", path: destroy_user_session_path, link_classes: "whitespace-nowrap", data: { turbo_method: :delete } )) %>            
        </div>
      </div>

      <!-- Mobile Menu -->
      <div data-slideover-target="overlay" class="absolute inset-x-0 top-0 z-30 origin-top-right transform p-2 transition md:hidden">
        <div  id="slideover-target" data-slideover-target="menu" class="divide-y-2 divide-gray-50 rounded-lg bg-white shadow-lg ring-1 ring-black ring-opacity-5">
          <div class="px-5 pt-5 pb-6">
            <div class="flex items-center justify-between">
              <div>
                <%= render(LogoLinkComponent.new(root_path)) %>
              </div>
              <div class="-mr-2">
                <button data-action="slideover#toggle"  type="button" class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                  <span class="sr-only">Close menu</span>
                  <!-- Heroicon name: outline/x-mark -->
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
            </div>
            
          </div>
          <div class="py-6 px-5">
            <div class="grid grid-cols-2 gap-4">
              <%= render(MenuLinkComponent.new(title: "Home", path: dashboards_path)) %>           
              <%= render(MenuLinkComponent.new(title: "Competitions", path: competitions_path))  if current_user.admin? %>                     
              <%= render(MenuLinkComponent.new(title: "News", path: "#")) %>              
              <%= render(MenuLinkComponent.new(title: "About", path: abouts_index_url)) %>    
              <%= render(MenuLinkComponent.new(title: "Teams", path: teams_path))  if current_user.admin? %>   
            </div>
            <div class="mt-6">              
              <p class="mt-6 text-center text-base font-medium text-gray-500">
                <%= render(MenuLinkComponent.new(title: "Log Out", path: destroy_user_session_path, link_classes: "whitespace-nowrap", data: { turbo_method: :delete } )) %>  
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>