<%= form_with(model: competition_entry, id: "#{dom_id(competition_entry)}_form", data: { controller: "autosave", "autosave-target": "form" }) do |form| %>
  <%= hidden_field_tag "commit", "0", data: {"autosave-target": "commit"}   %>
  <% if competition_entry.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(competition_entry.errors.count, "error") %> prohibited this competition_entry from being saved:</h2>

      <ul>
        <% competition_entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="space-y-6 bg-white md:px-4 py-5">

    <div class="grid grid-cols-2 gap-2">
      <div>
        <%= render Forms::FieldComponent.new(form, :winner_id, label: "Predicted Winner") do |field| %>
          <% field.with_input_select(classes: "rounded-none", options: teams_by_competition_for_select(competition_entry.competition_id), include_blank: true, read_only: @locked_fixtures, data: { action: "change->autosave#save" }) %>
        <% end %>  
      </div>  
      <div>
        <%= render Forms::FieldComponent.new(form, :runner_up_id, label: "Predicted Runner Up") do |field| %>
          <% field.with_input_select(classes: "rounded-none", options: teams_by_competition_for_select(competition_entry.competition_id), include_blank: true, read_only: @locked_fixtures, data: { action: "change->autosave#save" }) %>
        <% end %>    
      </div>
    </div>
    <div class="space-y-0">
      <%= render Forms::LabelComponent.new(form, :predictions, label: "Predictions", label_class: "block text-sm font-medium text-gray-700")%>
      <div class="grid grid-cols-1 md:grid-cols-2 w-full">
        <div>
          <div class="flex flex-row items-center">
            <p class="hidden md:flex-none pt-1 md:pt-0 w-12 md:w-16 text-gray-600 text-sm md:text-base"></p>
            <p class="pt-1 md:pt-0 flex-none w-20 md:w-28 text-gray-900 text-xs md:text-base text-end mr-1"></p>
            <p class="rounded-md w-12  text-sm"></p>
            <p class="pt-1 md:pt-0 flex-none w-20 md:w-28 text-gray-900 text-xs md:text-base text-end mr-1"></p>
            <p class="rounded-md w-12 text-sm"></p>        
            <p class="ml-2 text-gray-900 text-xs md:text-base w-6">pts</p>
            <p class="ml-2 text-gray-900 text-xs md:text-base">score</p>
          </div>      
          <%= form.fields_for :predictions do |prediction| %>
            <%= render "prediction_rows", form: prediction %>
          <% end %>
        </div>
        <div>
        </div>
    </div>
    <div class="bg-gray-50 px-4 py-3 sm:px-6 ">
      <div class="text-right flex justify-end">
        <%= render Forms::ButtonSubmitComponent.new(button_classes: "ml-3") %>
      </div>
      <div class="bg-gray-50 flex justify-end">      
        <%= render "saving_message", message: nil %>
      </div>      
    </div>

  </div>
<% end %>