  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg flex items-center" id="notice"><%= notice %></p>
  <% end %>
<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">
    <div>
      <%= render(LogoComponent.new) %>
      <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Log in to your account</h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        Or
        <%= link_to "create an account", new_user_registration_path, class: "font-medium text-indigo-600 hover:text-indigo-500" %>
      </p>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "mt-8 space-y-6", data: {turbo: false }} ) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="-space-y-px rounded-md shadow-sm">
        <%= render Forms::FieldComponent.new(f, :email, label: "Email address", label_class: "sr-only") do |field| %>
          <% field.with_input_email(classes: "rounded-t-md", autocomplete: "email", placeholder: "Email address", autofocus: true) %>
        <% end %>
        <%= render Forms::FieldComponent.new(f, :password, label: "Password", label_class: "sr-only") do |field| %>
          <% field.with_input_password(classes: "rounded-b-md", autocomplete: "current-password", placeholder: "Password") %>
        <% end %>        
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="flex items-center justify-between">      
          <div class="flex items-center">
            <%= f.check_box :remember_me, class: "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500" %>
            <%= f.label :remember_me, class: "ml-2 block text-sm text-gray-900" %>
          </div>
          <div class="text-sm">
            <%= link_to "Forgot your password?",  new_password_path(resource), class:  "font-medium text-indigo-600 hover:text-indigo-500"%>
          </div>
        </div>      
      <% end %>

      <%= button_tag(type: 'submit', class: "group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2") do %>
        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
          <!-- Heroicon name: mini/lock-closed -->
          <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
          </svg>
        </span>
        Log In
      <% end %>
    <% end %>
  </div>
</div>
